
.ndjks {
    background-color: aliceblue;
}

.vnjw {
    background-attachment: fixed;
}


.main-cta {
    background-size: 300% auto;
    background-image: linear-gradient(to right, #C81124 0%, #F572BA 100%, #C81124 100%);
    transition: all 0.2s, transform 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }  

.main-cta.pink {
    background-size: 300% auto;
    background-image: linear-gradient(to right, #F572BA 0%, #C81124 100%, #F572BA 100%);
  }  
.main-cta.pink-clear {
    background-size: 300% auto;
    background-image: linear-gradient(to right, #F7B2D8 0%, #F7B2D8 100%, #F7B2D8 100%);
  }  


  .main-cta:not(.cursor-exclude):hover {
    background-position: right center;
    transform: rotate(-3deg);
    background-image: linear-gradient(to right, #C81124 0%, #F572BA 50%, #C81124 100%);
  }
  .main-cta.pink:not(.cursor-exclude):hover {
    background-position: right center;
    transform: rotate(-3deg);
    background-image: linear-gradient(to right, #F572BA 0%, #C81124 50%, #F572BA 100%);
  }
  .main-cta.pink-clear:not(.cursor-exclude):hover {
    background-position: right center;
    transform: rotate(-3deg);
    background-image: linear-gradient(to right, #F7B2D8 0%, #C81124 50%, #F7B2D8 100%);
  }

  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 15px solid #F7B2D8;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.footer-menu-item-container:hover .footer-menu-link-text {
  letter-spacing: 5px;
}

.main-h2 {
  max-width: min-content;
}

.menu-link-item-container > * {
  transition: all .2s ease;
}

.menu-link-item-container:hover .menu-link-thumb, 
.menu-link-item-container:focus .menu-link-thumb {
  filter: drop-shadow(0.1rem 0.1rem 1.2rem #f572ba);
  -webkit-animation: spinnning 1s infinite linear;
  animation: spinnning 1s infinite linear;
}

.menu-link-item-container:hover .menu-link-text {
  color: #f572ba;
}

@-webkit-keyframes spinnning {
  0% {
    -webkit-transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
  }
}


 .nos-restaurant-closest-container {
  grid-column: span 2;
  /* grid-row: 1/2; */
}

/* .nos-restaurant-closest-container {
  grid-column: 2/4;
  grid-row: 1/2;
}


@media (max-width: 767px) {
  .nos-restaurant-closest-container {
    grid-column: 1/2;
  }
} */